/* FONDO GENERAL */
.stApp {
    background-color: #F7F8FC;
}

/* SIDEBAR */
section[data-testid="stSidebar"] {
    background: linear-gradient(180deg,#071B4A 0%,#081233 100%);
}

/* TEXTO SIDEBAR */
section[data-testid="stSidebar"] * {
    color: white;
}

/* TITULO PRINCIPAL */
.titulo {
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    background: linear-gradient(90deg,#7C3AED,#2563EB);

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;
}

/* SUBTITULO */
.subtitulo {
    font-size: 27px;
    color: #1E293B;
    margin-top: 20px;
    line-height: 1.7;
}

/* RADIO BUTTON MENU */
div[role="radiogroup"] > label {
    padding: 14px;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

div[role="radiogroup"] > label:hover {
    background: linear-gradient(
        90deg,
        #7C3AED,
        #2563EB
    );
}

/* TARJETAS */
.card {
    background: white;
    padding: 18px;
    border-radius: 18px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
}

/* BOTONES */
.stButton > button {
    width: 100%;
    border-radius: 12px;
    font-weight: bold;
}

/* TABLAS */
[data-testid="stDataFrame"] {
    border-radius: 15px;
    overflow: hidden;
}

/*styles de ia_page
/* */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.main-title {
    font-family: 'DM Sans', sans-serif;
    color: #0F172A;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 5px;
}

.subtitle {
    color: #64748B;
    font-size: 16px;
    margin-bottom: 25px;
}

.card-kpi {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
    margin-bottom: 15px;
    transition: transform 0.2s;
}

.card-kpi:hover {
    transform: translateY(-2px);
}

.card-graph {
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05);
    border: 1px solid #F1F5F9;
    margin-bottom: 20px;
}
/* Estilo para el botón de acceso a Power BI */
.btn-powerbi {
    display: inline-block;
    width: 100%;
    background: linear-gradient(135deg, #F2C811 0%, #D9A406 100%); /* Colores corporativos de Power BI */
    color: #0F172A !important; /* Texto oscuro para buen contraste */
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding: 14px 24px;
    margin-top: 15px;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(242, 200, 17, 0.3);
    transition: all 0.3s ease;
}

.btn-powerbi:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(242, 200, 17, 0.5);
    background: linear-gradient(135deg, #FFE043 0%, #F2C811 100%);
}